[package]
name = "dioxus_docs_site"
version = "0.0.0"
authors = ["Jonathan Kelley <jkelleyrtp@gmail.com>"]
edition = "2018"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { workspace = true, features = ["router", "launch"] }
dioxus-web = { workspace = true, features = ["hydrate"], optional = true }

dioxus_docs_router = { workspace = true }

# dioxus-material-icons = { version = "3.0.0" }
syntect-html = { workspace = true }
mdbook-shared = { workspace = true }
use-mdbook = { workspace = true }
dioxus-search = { workspace = true }
# dioxus-playground = { workspace = true }

askama_escape = { version = "0.10.3", optional = true }
getrandom = { workspace = true, features = ["js"] }
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
tracing = "0.1.41"
wasm-bindgen = { version = "0.2.99", features = ["enable-interning"] }
once_cell = "1.17.1"
tokio = { version = "1.29.0", features = ["full"], optional = true }
axum = { workspace = true, optional = true }
http = { version = "1.0.0", optional = true }
reqwest = { version = "0.12.12", features = ["json"] }
gloo-storage = { version = "0.3.0", optional = true }
web-sys = { version = "0.3.64", features = [
    "Document",
    "HtmlDocument",
    "Window",
    "Event",
    "AddEventListenerOptions",
    "Navigator",
    "HtmlIFrameElement",
    "console",
    "History",
    "Window",
    "Location"
] }
slab = "0.4.8"
chrono = { workspace = true, features = ["serde"] }
futures = "0.3.28"
async-recursion = "1.0.4"
futures-util = "0.3"
gloo-timers = { version = "0.3.0", features = ["futures"] }
js-sys = "0.3.64"
serde-wasm-bindgen = "0.6.5"
automod = "1.0.13"
stork-lib = { workspace = true, features = [
    "build-v3",
], default-features = false }

[features]
default = []
fullstack = [
    "dioxus/fullstack",
    "dioxus_docs_router/fullstack",
]
web = [
    "dioxus/web",
    "dioxus_docs_router/web",
]
server = [
    "dioxus/server",
    "dioxus/ssr",
    "dioxus_docs_router/server",
    "dep:askama_escape",
]
production = [
    "dioxus_docs_router/production",
]
doc_test = []
