# ignore changes to the generated docs files
/packages/docs-03/src/docsgen.rs
/packages/docs-04/src/docsgen.rs
/packages/docs-05/src/docsgen.rs
/packages/docs-06/src/docsgen.rs
/packages/docs-07/src/docsgen.rs
/packages/docs-blog/src/docsgen.rs

/.dioxus
/target
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea
.env

/pkg
/static
/docs
/dist
/dioxus_search
/node_modules
/package-lock.json
/package.json
