[package]
name = "dioxus_docs_site"
version = "0.0.0"
authors = ["Jonathan Kelley <jkelleyrtp@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus-router = { version = "0.4" }
dioxus = { version = "0.4" }
dioxus-web = { version = "0.4", features = [
    "hydrate",
], optional = true }
dioxus-ssr = { version = "0.4", optional = true }
dioxus-fullstack = { version = "0.4", features = [
    "router",
] }
dioxus-tui = { version = "0.4", optional = true }
dioxus-desktop = { version = "0.4", optional = true }
dioxus-liveview = { version = "0.4", features = [
    "axum",
], optional = true }
dioxus-native-core = { version = "0.4", optional = true }
dioxus-native-core-macro = { version = "0.4", optional = true }
fermi = { version = "0.4" }
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
log = "0.4.17"
wasm-logger = "0.2.0"
wasm-bindgen = { version = "0.2.86", features = ["enable-interning"] }
once_cell = "1.17.1"
console_error_panic_hook = "0.1.7"
gloo-history = "0.1.3"
autoexport = "0.1.0"
dioxus-material-icons = { git = "https://github.com/jkelleyrtp/dioxus-material-icons.git", branch = "jk/bump-release" }
include_dir = "0.7.3"
anyhow = "1.0.71"
syntect-html = { git = "https://github.com/dioxuslabs/include_mdbook" }
mdbook-shared = { git = "https://github.com/dioxuslabs/include_mdbook" }
use-mdbook = { git = "https://github.com/dioxuslabs/include_mdbook" }

dioxus-search = { git = "https://github.com/dioxuslabs/dioxus-search" }

tokio = { version = "1.29.0", features = ["full"], optional = true }
axum = { version = "0.6.12", features = ["headers"], optional = true }
simple_logger = "4.2.0"
shipyard = { version = "0.6.2", optional = true }
reqwest = { version = "0.11.18", features = ["json"] }
gloo-storage = { version = "0.2.2", optional = true }
web-sys = { version = "0.3.64", features = [
    "Document",
    "Window",
    "Event",
    "AddEventListenerOptions",
] }
slab = "0.4.8"
chrono = { version = "0.4.26", features = ["serde"] }
futures = "0.3.28"
async-recursion = "1.0.4"
futures-util = "0.3"
pretty_assertions = { version = "1.4.0", optional = true }
gloo-timers = { version = "0.2.6", features = ["futures"] }
js-sys = "0.3.64"
form_urlencoded = "1.2.0"
automod = "1.0.13"

# Used only in doc tests
dioxus-std = { version = "0.4.1", features = ["i18n"], optional = true }
tower-http = { version = "0.4.0", optional = true, features = ["timeout"] }

[profile.release]
# lto = true
# codegen-units = 1
opt-level = 'z'
strip = "debuginfo"

[profile.dev.build-override]
opt-level = 2
codegen-units = 256

[profile.release.build-override]
opt-level = 2
codegen-units = 256

[features]
default = []
doc_test = [
    "tokio",
    "ssr",
    "dioxus-web",
    "dioxus-router/web",
    "dioxus-tui",
    "dioxus-desktop",
    "dioxus-liveview",
    "dioxus-native-core",
    "dioxus-native-core-macro",
    "shipyard",
    "gloo-storage",
    "pretty_assertions",
    "tower-http",
    "dioxus-std",
]
web = ["dioxus-web", "dioxus-router/web"]
ssr = [
    "dioxus-ssr",
    "dioxus-router/ssr",
    "tokio",
    "dioxus-fullstack/axum",
    "axum",
]
prebuild = ["ssr"]
