[package]
name = "dioxus_docs_site"
version = "0.0.0"
authors = ["Jonathan Kelley <jkelleyrtp@gmail.com>"]
edition = "2018"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { version = "0.6.0", features = ["router"] }
dioxus-web = { version = "0.6.0", features = ["hydrate"], optional = true }
dioxus-ssr = { version = "0.6.0", optional = true }
dioxus-desktop = { version = "0.6.0", optional = true }
dioxus-cli-config = { version = "0.6.0", optional = true }
dioxus-liveview = { version = "0.6.0", features = ["axum"], optional = true }

dioxus-material-icons = { git = "https://github.com/jkelleyrtp/dioxus-material-icons", branch = "jk/git-rev" }
syntect-html = { git = "https://github.com/dioxuslabs/include_mdbook", branch = "jk/build-gen" }
mdbook-shared = { git = "https://github.com/dioxuslabs/include_mdbook", branch = "jk/build-gen" }
use-mdbook = { git = "https://github.com/dioxuslabs/include_mdbook", branch = "jk/build-gen" }
dioxus-search = { git = "https://github.com/dioxuslabs/dioxus-search" }

serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
log = "0.4.17"
wasm-bindgen = { version = "0.2.99", features = ["enable-interning"] }
once_cell = "1.17.1"
tokio = { version = "1.29.0", features = ["full"], optional = true }
axum = { version = "0.7", optional = true }
http = { version = "1.0.0", optional = true }
reqwest = { version = "0.11.18", features = ["json"] }
gloo-storage = { version = "0.3.0", optional = true }
web-sys = { version = "0.3.64", features = [
    "Document",
    "HtmlDocument",
    "Window",
    "Event",
    "AddEventListenerOptions",
    "Navigator",
] }
slab = "0.4.8"
chrono = { version = "0.4.26", features = ["serde"] }
futures = "0.3.28"
async-recursion = "1.0.4"
futures-util = "0.3"
pretty_assertions = { version = "1.4.0", optional = true }
gloo-timers = { version = "0.3.0", features = ["futures"] }
js-sys = "0.3.64"
form_urlencoded = "1.2.0"
automod = "1.0.13"
stork-lib = { version = "1.6.0", features = [
    "build-v3",
], default-features = false }

# Used only in doc tests
dioxus-sdk = { version = "0.6.0", optional = true }
tower-http = { version = "0.5.0", optional = true, features = ["timeout"] }
tracing = "0.1.40"
rand = { version = "0.8.5", optional = true }
rusqlite = { version = "0.32.1", optional = true }

[build-dependencies]
mdbook-gen = { git = "https://github.com/dioxuslabs/include_mdbook", branch = "jk/build-gen", features = ["manganis"]}
mdbook-shared = { git = "https://github.com/dioxuslabs/include_mdbook", branch = "jk/build-gen" }

[patch.crates-io]
# dioxus = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-lib = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-core = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-core-macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-config-macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-router = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-router-macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-html = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-html-internal-macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-hooks = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-web = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-ssr = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-desktop = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-interpreter-js = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-liveview = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-rsx = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-signals = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-cli-config = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# generational-box = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus_server_macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-fullstack = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-autofmt = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-devtools = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# dioxus-devtools-types = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# manganis = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# manganis-core = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }
# manganis-macro = { git = "https://github.com/dioxuslabs/dioxus", rev ="e00ebec8048d8ca934fff918d2d1432bf6ce7640" }

# dioxus = { path = "../../dioxus/packages/dioxus" }
# dioxus-lib = { path = "../../dioxus/packages/dioxus-lib" }
# dioxus-core = { path = "../../dioxus/packages/core" }
# dioxus-core-macro = { path = "../../dioxus/packages/core-macro" }
# dioxus-config-macro = { path = "../../dioxus/packages/config-macro" }
# dioxus-router = { path = "../../dioxus/packages/router" }
# dioxus-router-macro = { path = "../../dioxus/packages/router-macro" }
# dioxus-html = { path = "../../dioxus/packages/html" }
# dioxus-html-internal-macro = { path = "../../dioxus/packages/html-internal-macro" }
# dioxus-hooks = { path = "../../dioxus/packages/hooks" }
# dioxus-web = { path = "../../dioxus/packages/web" }
# dioxus-ssr = { path = "../../dioxus/packages/ssr" }
# dioxus-desktop = { path = "../../dioxus/packages/desktop" }
# dioxus-interpreter-js = { path = "../../dioxus/packages/interpreter" }
# dioxus-liveview = { path = "../../dioxus/packages/liveview" }
# dioxus-rsx = { path = "../../dioxus/packages/rsx" }
# dioxus-signals = { path = "../../dioxus/packages/signals" }
# dioxus-cli-config = { path = "../../dioxus/packages/cli-config" }
# generational-box = { path = "../../dioxus/packages/generational-box" }
# dioxus_server_macro = { path = "../../dioxus/packages/server-macro" }
# dioxus-fullstack = { path = "../../dioxus/packages/fullstack" }
# dioxus-autofmt = { path = "../../dioxus/packages/autofmt" }
# dioxus-devtools = { path = "../../dioxus/packages/devtools" }
# dioxus-devtools-types = { path = "../../dioxus/packages/devtools-types" }
# manganis = { path = "../../dioxus/packages/manganis/manganis" }
# manganis-core = { path = "../../dioxus/packages/manganis/manganis-core" }
# manganis-macro = { path = "../../dioxus/packages/manganis/manganis-macro" }

[profile.release]
lto = true
codegen-units = 1
opt-level = 'z'
strip = "debuginfo"

[profile.dev.build-override]
opt-level = 3
codegen-units = 1

[profile.wasm-dev]
inherits = "dev"
debug = 0

[profile.server-dev]
inherits = "dev"
debug = 0

[profile.android-dev]
inherits = "dev"

[profile.release.build-override]
opt-level = 3
codegen-units = 1

[features]
default = []
fullstack = ["dioxus/fullstack"]
web = ["dioxus/web"]
server = [
    "dioxus/server",
    "dioxus-ssr",
    "dioxus/ssr",
    "tokio",
    "axum",
]
doc_test = [
    "tokio",
    "web",
    "dioxus-desktop",
    "dioxus-liveview",
    "gloo-storage",
    "pretty_assertions",
    "tower-http",
    "dioxus-sdk",
    "http",
    "rand",
    "server",
    "dioxus/fullstack",
    "dioxus-cli-config",
    "dep:rusqlite"
]
