body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#pane-container {
  display: flex;
  flex-direction: row;
  margin: 5vh 5vw;
}

#left-pane,
#right-pane {
  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
}

#left-pane {
  display: flex;
  flex-direction: column;
  border-radius: 5px 0px 0px 5px;
}

#right-pane {
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  border-bottom: 1px solid #000000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

#clear-button {
  margin-left: auto;
  border: none;
  background: none;
  outline: none;
}

#clear-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#run-button {
  border-radius: 5px;
  border: none;
  background-color: rgb(75, 153, 206);
  color: #FFFFFF;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
}

#run-button.disabled {
  background-color: rgb(36, 36, 36);
}

#run-button:not(disabled):hover {
  background-color: rgb(55, 117, 158);
  cursor: pointer;
}

#editor {
  box-sizing: border-box;
  flex: 1;
  border-left: none;
  border-top: none;
  padding: 10px;
}

#right-pane>iframe {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-left: none;
}