@media (min-width: 767px) {
  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #21252900 transparent;
    scrollbar-gutter: stable;
    overflow: auto;
  }

  .styled-scrollbar::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.375rem;
  }

  .styled-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .styled-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    border: 3px solid transparent;
    background-clip: content-box;
    scrollbar-width: thin;
    scrollbar-color: #0080ff #fff;
  }

  /* safari bug, the thumb doesn't change unless we trigger a hover event on the item itself */
  .styled-scrollbar:hover {
    min-height: 1px;
    scrollbar-color: #212529 transparent;
  }

  .styled-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
    border: 3px solid transparent;
    background-clip: content-box;
    scrollbar-width: thin;
    scrollbar-color: #0080ff #fff;
    background: #d0d3d7;
  }
}

.playground-container {
  height: 900px;
  display: flex;
  flex-direction: column;
  /* width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column; */
}

html {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    background-color: black;
  }
}

.markdown-body > div + p {
  margin-top: 2rem;
}

.markdown-body > video, .markdown-body > img {
  margin-bottom: 2rem;
}


.codeblock {
  font-weight: 400;
}

.codeblock > pre {
  /* &:where([data-theme="light"], [data-theme="light"] *) {
    background-color: rgb(37, 36, 36) !important;
  } */
}

.codeblock > pre {
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0px !important;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  list-style: disc;
}

/*
https: //stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
This way clicking on headers snaps to the height of the navbar + some padding
*/
:target {
  scroll-margin-top: calc(4rem + 8px);
}

@media (max-width: 767px) {
  .markdown-body {
    /* padding: 15px; */
  }
}

.main-side-nav {
  max-height: calc(100vh - 4rem);
  overflow: auto;
}

/* on small screens we want to hide the copy div
we have to select it based on the content since the styling is buried deep in mdbook
It's so unliklely anyone is copying text on mobile that we can just hide it
*/
@media (max-width: 767px) {
  .markdown-body
    button[onclick="navigator.clipboard.writeText(this.previousElementSibling.innerText)"] {
    display: none;
  }
}

.dioxus-demo input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  max-width: 150px;
}

.dioxus-demo {
  border-width: 1px;
  border-color: #ced4da;

  /* text-align: center; */
}

.dioxus-demo h1 {
  margin-top: 16px;
}

.dioxus-show {
  z-index: 10000;
  visibility: visible;
  transition: opacity 0.1s, scale 0.1s;
  opacity: 1;
  scale: 1;
}

.dioxus-hide {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  scale: 1.1;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body img {
  max-height: 600px;
}

.markdown-body video {
  max-height: 600px;
}

.markdown-body li {
  display: list-item;
}

.markdown-body ol {
  list-style: decimal;
}

.dioxus-blog-post img,
.centered-overflow {
  max-height: 700px;
  max-width: 100%;
  /* max-width: min(1200px, 95vw); */
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  border-radius: 6px;
}

.dioxus-blog-post h2 {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0.25em;
}

.highlight pre,
.markdown-body pre {
  background-color: #1e1e1e;
}

.dioxus-blog-post h1 {
  /* text-align: center; */
}

.dioxus-blog-post
  :where(h2:not(:is(h1 + h2))):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #e5e7eb;
}

.navbar_externalArrow___VWBd {
  position: absolute;
  top: 4px;
  right: 0px;
}

.markdown-body ul {
  list-style: disc;
}
.markdown-body ol {
  list-style: decimal;
}
.markdown-body li {
  display: list-item;
}
.markdown-body > div > button {
  display: inline-block;
  background-color: rgba(209, 213, 219, 0.3);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ced4da;
  margin: 0.25rem;
}
.markdown-body .header {
  color: inherit;
}
