body {
  margin: 0;
  padding: 20px 0px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

body {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    background-color: #0e1116;
  }
}

.playground-container {
  height: 800px;
  display: flex;
  flex-direction: column;
}
